
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
}

body {
  background-color: #212121;
}

#container {
    width: 50%;
    margin: auto;
    background-color: #98ee99;
}

li {
  background-color: #4caf50;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
  padding: 1%;
  margin-bottom: 1%;
}

li:last-child {
  margin-bottom: 0;
}

li:hover {
  background-color: #fff176;
}

ul {
    padding: 2%;
    list-style-type: none;
    height: 500px;
    overflow: auto;
}

.count-suggestion {
  background-color: #fff8e1;
  font-size: 1.5rem;
  text-align: center;
  padding: .1%;
}

.input-pattern {
  width: 80%;
  padding: 1%;
  margin: 1%;
}

.input-pattern:focus {
  background-color: #263238;
  color: #fff;
  border: 2px solid #4caf50;
  font-weight: 700;
}

.form-to-search {
  text-align: center;
  padding: 1%;
}

.country-text {
  font-weight: 700;
}

.flag-icon  {
  font-size: 2rem;
}

.row-country {
  display: inline-block;
  margin: 1%;
}

.column-country {
    display: flex;
    justify-content: center;
    align-items: center;
}
